*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, .container{
    min-height: 100vh;
    background-color: #141414;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 5em;
}
header{
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
}
section{
    flex: 4;
    border-radius: 2em;
    display: flex;
    gap: 2em;
}
.col-left{
    flex: 2;
    border: 2px solid red;
    border-radius: 2em;
}
.col-right{
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
}
.container.second section {
    flex-direction: row-reverse;
}
footer{
    border-radius: 2em;
    flex: 1;
    border: 2px solid red;
}
@media (max:width:900px) {
    section, .container.second section {
        flex-direction: column;
        
        .container{
            margin: 1em 2em;
        }
    }
}